@use "../../styles/style.scss" as style;

.aboutme {
    width: 100%;
    background: gray;
    &__wrapper {
        position: relative;
        width: 100%;
        padding-top: 90px;
        max-width: max-content;
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-template-rows: minmax(35px, auto)
                            minmax(200px, auto)
                            minmax(30px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 50px;  
        grid-template-areas:
            "left wrapper-title"
            "left right1"
            ".    right2"
            "bottom bottom";
    }
    &__wrapper-title{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-area: wrapper-title;
        .btn {
            color:black;
        }   
    }
    &__photo {
        position: relative;
        grid-area: left;
        z-index: 2;
        &-wrapper {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            overflow: visible;  
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.6s cubic-bezier(.2,.9,.2,1);
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 99%;
                height: 99%;
                border-top: 0.8px solid style.$blue-color;
                border-left: 0.8px solid style.$blue-color;
                transform: translate(0, 0);
                transition: transform 0.4s ease;
                pointer-events: none;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 99%;
                height: 99%;
                border-bottom: 0.8px solid style.$blue-color;
                border-right: 0.8px solid style.$blue-color;
                transform: translate(0, 0);
                transition: transform 0.4s ease;
                pointer-events: none; 
            }
            &:hover::before {
                transform: translate(-15px, -15px);
                width: 80%;
                height: 80%;
                border-top: 2px solid rgba(style.$blue-color, 0.3);
                border-left: 2px solid rgba(style.$blue-color, 0.3);  
            }
            &:hover::after {
                transform: translate(15px, 15px);
                width: 80%;
                height: 80%;
                border-bottom: 2px solid rgba(style.$blue-color, 0.3);
                border-right: 2px solid rgba(style.$blue-color, 0.3);
            }
            &:hover img {
                transform: scale(1.03);
            }
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        text-align: left;
        @include style.before_circle; 
    }
    .divider {
        @include style.divider;
    }
    .divider.aboutme__right2 {
        margin-top: 50px;
    }
    &__text {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 18px;
        line-height: 1.5;  
        color: #333; 
        font-weight: 600; 
    }
    &__text-first {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
        color: white; 
        margin-bottom: 20px;
        .name {
            color: style.$main-color; 
            font-weight: 700; 
        }
    }
    &__skills {
        display: grid;
        grid-auto-rows: 1fr;
        gap: 20px 50px; 
    }
    &__skill {
        display: grid;
        grid-template-columns: 40px minmax(0, 1fr);
        column-gap: 10px;
        &-text {
            font-weight: 500;
            font-size: 12px;
            margin-top: 6px;
        }
    }
    &__left {
        grid-area: left;
    }
    &__right1 {
        grid-area: right1;
    }
    &__right2 {
        grid-area: right2;
        margin-top: 20px;
    }
    &__bottom {
        grid-area: bottom;  
    }
}

@media (max-width: 767px) {
    .container {
        padding: 10px;
        .aboutme {
            &__skills{
                /* display: grid; */
                width: 100%;
            }
            &__wrapper{
                padding-top: 60px;
                grid-template-columns:  1fr 150px;
                grid-template-rows: minmax(35px, auto)
                                    minmax(200px, auto)
                                    minmax(30px, auto);
                grid-auto-rows: minmax(245px, auto);
                column-gap: 20px;  
                grid-template-areas:
                    "wrapper-title left "
                    "right1    right1"
                    "right2    right2"
                    "bottom bottom";
            }

            &__photo {
                width: 150px;
                height: 150px;
            }
            &__wrapper-title{
                grid-area: wrapper-title;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 30px;
            }
            &__right2 {       
                margin: 0 auto; 
                .divider {
                    margin-left: 30px; 
                }
            }
            &__right1 {
                width: 100%;
                padding: 10px;
            }
        }    
    }
    .social__wrapper-vertical {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px)  {
    .container {
        padding: 10px;
        .aboutme {
            &__wrapper{
                grid-template-areas:
                    "left wrapper-title"
                    "left right1"
                    "right2    right2"
                    "bottom bottom";
            }
            &__right2 {
                margin: auto;
            }
        }
    }   
}