@use "../../styles/style.scss" as style;

.skills-section {
  padding: 20px 40px;
  max-width: 1000px;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .skills-category {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;  
    border-radius: 6px;   
    opacity: 0;              
    transform: translateX(0);
    h3 {
      font-size: 18px;
      margin-bottom: 8px;
      color: style.$blue-color;
    }
    ul {
      list-style: disc;
      margin-left: 20px;
      li {
        font-size: 17px;
        margin-bottom: 4px;
      }
    } 
  }

  .skills-category.show {
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
  .skills-category:nth-child(odd).show {
    animation-name: slideInRight;
  }

  .skills-category:nth-child(even).show {
    animation: slideInLeft 0.8s ease forwards;
  }

  .skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    margin-top: 40px;
    .skill-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px 10px;
      border-radius: 8px;
      background-color: #f9f9f9;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        img {
          opacity: 0.8;;
          filter: grayscale(60%);
          transform: scale(1.1);
        }
      }
      img {
        width: 50px;
        height: 50px;
        margin-bottom: 8px;
        object-fit: contain;
        transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
      }
      p {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 4px;
      }

      .category {
        font-size: 10px;
        color: #888;
      }
    }
  }   
}

// Анимации
@keyframes slideInRight {
  from { opacity: 0; transform: translateX(150px); }
  to { opacity: 1; transform: translateX(-70px); }
}

@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-150px); }
  to { opacity: 1; transform: translateX(70px); }
}