@use "../../styles/style.scss" as style;

.project__item{
    height: 370px;
    position: relative;
    box-shadow: 0 5px 50px 10px rgb(40 38 38 / 87%);
    .open-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items:center;
        text-transform: uppercase;
        width: 100%;
        height: 70px;
        background-color: rgb(76, 75, 75);
        font-size: 18px;
        color: beige;
        transition: all 0.3s ease-in-out;
        gap: 10px;
        border: none;
        &:hover{
            background-color: rgb(155, 153, 153);
            color: black;  
        } 
        &__icon {
            width: 25px;
            height: 25px;
            transform: rotate(0);   
            transition: 0.7s ease;
        } 
        &.active .open-btn__icon {
            transform: rotate(90deg);   
        }
    }

    &-hidden {  
        position: absolute;
        top: 50px;
        width: 100%;
        max-height: 0;
        opacity: 0;
        overflow: hidden;  
        transition: max-height 0.7s ease, opacity 0.5s ease;  
        transform: scaleY(0);
        transform-origin: top;
        color:#FFFFFF;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 4vmin;
    }

    &-hidden.open {
        opacity: 1;
        transform: scaleY(1);
        overflow: visible;  
        max-height: 600px;
        padding: 0 10px;
    }

    .img-box {
        height: 300px;
        overflow: hidden; 
        position: relative;
        padding: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
            filter: grayscale(0);
            transition: transform 0.5s ease, filter 0.5s ease;  
        }  
        &.dimmed img {
            filter: brightness(0.8); // картинка темнеет на 50%
        } 
         &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        &:hover {
            img {
                filter: grayscale(0.6) brightness(0.8);
                transform: scale(1.05); // лёгкий zoom
            }
            &::after {
            opacity: 1; 
            } 
        }
    }
   
    &-name {
        margin-top: 10px;
        padding: 0;
        text-align: center;
        font-size: 25px;  
    }

    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        border: 5px solid style.$main-color;
        width: 55vmin;
        height: 13vmin;
        color: #FFFFFF;
        font-size: clamp(16px, 4vmin, 20px);
        line-height: calc(13vmin - 8px);
        transition: all 200ms;
        background-color: rgba(0, 0, 0, .6);
        &:hover {
            background-color: style.$main-color;
        }
    }
    a {
        display: block;
        width: fit-content;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 25px; 
        margin: 50px auto 50px auto;
    }
    p {
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        font-size: clamp(16px, 16px, 25px);
        line-height: 6vmin;
        font-style: italic;  
    }   
}

@media (max-width: 379px) {
    .social__wrapper-vertical {
        display: none;
    }
    .project__box {
        margin-top: 30px;
    }  
}