@use "../../styles/style.scss" as style;

.home {
    position: relative;
    display: grid;
    grid-template-areas: "content";
    width: 100%;
    height: 100%;
    min-height: 0;
    background: black;
    z-index: 0;
    &__bg {
        grid-area: content;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        object-fit: cover;
        opacity: 0;
        z-index: -1;
        transition: opacity 1s ease; 
        filter: brightness(0.5);
    }
    &__bg.visible {
        opacity: 1;
    }
    &__content {
        grid-area: content;
        position: relative;
        z-index: 2;
        padding: 120px 100px; 
        @media (max-width: 768px) {
            max-width: 90%;
            padding: 15px; 
            padding-top: 80px; 
            
        }
        @media (max-width: 480px) {
            padding: 10px;
            padding-top: 80px; 
        }
    }

    h1 {
        color: style.$main-color;
        font-size: 50px;
        font-family: monospace;
        margin: 0;
        @media (max-width: 768px) {
            font-size: 32px;
            text-align: center;
        }
        @media (max-width: 480px) {
            font-size: 24px;
            text-align: center;
        }
    }
    h2 {
        color: #fff;
        margin-top: 10px;
        font-size: 24px;
        font-family: monospace;
        text-shadow: 
            0 0 10px style.$main-color,  
            0 0 20px style.$main-color,   
            0 5px 5px style.$blue-color;

        @media (max-width: 768px) {
            font-size: 18px;
            text-align: center;
        }
        @media (max-width: 480px) {
            font-size: 16px;
            text-align: center;
        }   
    }
}

.logo {
    color: #fff;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 0;
    padding-left: 0;
    li a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            color:style.$main-color;
            text-shadow: 0 0 10px #fff, 
               0 0 20px #fff, 
               0 0 30px #fff;
        }
    }
}

.btn-group {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items:center;
    margin-top: 50px;
    padding: 0;
    gap: 80px;
    flex-wrap: wrap;
     @media (max-width: 768px) {
            justify-content: center;
        }
        @media (max-width: 480px) {
            justify-content: center;
        }
    .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 200px;           
        height: 60px; 
        min-width: 120px;  
        max-width: 90vw;
        border-radius: 6px;
        background-color: transparent;   // прозрачная
        border: 2px solid style.$blue-color;  
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        transition: 0.3s;
        &:hover {
            color: #fff;                      
            background-color: style.$blue-color;   
            box-shadow: 0 0 10px style.$blue-color, 0 0 20px style.$blue-color; // свечение 
        }
        @media (max-width: 768px) {
            width: 170px;
            height: 50px;
            font-size: 20px;
        }
        @media (max-width: 480px) {
            width: 170px;
            height: 45px;
            font-size: 15px;
        }
    }
}
