@use "../../styles/style.scss" as style;

.contacts__form {
    max-width: 500px;
    width: 100%;   
    margin: 0 auto;
    font-family: sans-serif;
    position: relative; 
    padding: 0 5px;
    .form__title {
        text-align: left;
        //margin-bottom: 20px;
        font-size: 1.5rem;
        color: #333;
    }
    .divider {
        @include style.divider;
        width: 150px;
        margin: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
        input,
        textarea {
            border: none;
            border-bottom: 1px solid #ccc; // нижнее подчеркивание
            background: transparent;
            padding: 8px 4px;
            font-size: 1rem;
            color: #333;
            outline: none;
            transition: border-color 0.3s;
            &::placeholder {
                color: #aaa;
            }
            &:focus {
                border-bottom-color: style.$blue-color; 
            }
        }

        textarea {
            resize: none;  
            min-height: 100px; 
        }

        button {
            width: 200px;
            height: 50px;
            margin-left: auto;
            font-size: 25px;
            color: #fff;
            background-color: style.$blue-color;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.6s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            position: absolute;
            bottom: 0;
            right: 0;
            &:hover {
                background-color: white;
                box-shadow: 0 0 10px rgba(137, 136, 136, 0.8), 0 2px 6px rgba(0, 0, 0, 0.15); 
                border:  2px solid rgb(150, 148, 148);
                transform: translateY(-3px); 
                color: black; 
            }
        }
    }

    .form__status {
        margin-top: 15px;
        text-align: center;
        font-size: 0.95rem;
        color: green;
    }

    .form__error {
        color: red;          
        font-size: 14px;     
        margin-top: 5px; 
        text-transform: uppercase;
    }  
    input.error, textarea.error {
        border: 2px solid red;
    } 
}