@use "../../styles/style.scss" as style;

.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    display: flex; 
    justify-content: space-between;     
    align-items:center;
    padding: 0 30px;     
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1000;         
}   
   
.logo {
    color: #fff;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 550px;
    height: 60px;  
    padding-left: 50px;
    .nav-list {
        font-size: 20px;
        list-style: none;
        display: flex;
        margin: 0;padding: 0;
        margin: 0;
        gap: 30px;
        li a {
            color: #fff;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                color:style.$main-color;
                text-shadow: 0 0 10px #fff, 
                0 0 20px #fff, 
                0 0 30px #fff;
            }
        }
    }
}
