@use "../../styles/style.scss" as style;


.footer {
  background-color: rgba(0, 0, 0); 
  color: #fff;
  padding: 20px 20px;
  font-family: 'Alegreya', serif;
  a {
    color: style.$blue-color;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
    color: #1e90ff;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items:end;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }

  &__nav {
    .nav-list {
      width: 150px;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      li a {
        &:hover {
            color:style.$blue-color;
            text-shadow: none;
        }
      }   
    }
  }

  &__contacts, &__sicials {
    width: 200px;
    display: flex;
    flex-direction: column;
    h3 {
      margin-bottom: 10px;
    }
  }
 
  &__bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #333;
    padding-top: 10px;
  }
  
  &__vertical {
    display: inline-block;
    width: 1px;
    height: 70px;
    background: #333;
    margin: 0 15px;
  }
}