@use "./variables" as vars;
@mixin before_circle {
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -10%;
        left: -15px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: vars.$main-color;  
    }
}

@mixin divider {
    width: 60px;
    height: 3px;
    background: vars.$main-color;
    margin-left: 20px;
} 